<p id="notice"><%= notice %></p>

<p>
  <img src="<%=@imagequote.value%>" style="border:1px solid black;"/>
</p>

<%= link_to 'Edit', edit_imagequote_path(@imagequote) %> |
<%= link_to 'Back', imagequotes_path %>
